#div-container
{
    background-color: whitesmoke;
    margin-top: 3%;
}
#Enregistrer,#sauvegarder
{
    background-color: #C8BCAC;
}
#divTableauApprenant{
    margin-top: 6%;
}
#form-apprenant
{
    border: 1px solid black;
    border-radius: 25px;
    padding: auto;
}
#add_apprenant
{
    font-size: 80px;;
}